.get-recipes {
    display: flex;
    width: 250px;
    border: 4px solid var(--second-color);
    border-radius: 10px;
    margin: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

.get-recipes:hover {
    background-color: var(--second-color);
    border-color: var(--main-color);
    border-radius: 10px;
}

.get-recipes li {
    margin: 10px;
}

.get-recipes h3 {
    display: flex;
    justify-content: center;
}

.get-recipes a {
    text-decoration: none;
    color: black;
}

.get-recipes button {
    background-color: var(--second-color);
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.get-recipes:hover button {
    background-color: var(--border-color);
    border-radius: 10px;
}

.get-recipes ul {
    display: flex;
    flex-wrap: wrap;
}

.get-recipes img {
    width: 250px;
}