.what-to-make {
    border: 3px solid hsl(173, 51%, 63%);
    border-radius: 10px;
    padding: 10px;
}

.what-to-make h2 {
    text-align: center;
}

.what-to-make-form {
    display: flex;
    flex-direction: column;
}

.what-to-make-form label {
    margin-bottom: 5px;
}

.what-to-make-form select {
    margin: 10px;
}

.what-to-make-form button {
    background-color: hsl(173, 51%, 63%);
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.what-to-make-form button:hover {
    border: 2px solid hsl(173, 51%, 43%);
}