.what-to-make {
    border: 3px solid var(--second-color);
    border-radius: 10px;
    padding: 10px;
}

.what-to-make-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.what-to-make-label {
    display: flex;
    justify-content: space-evenly;
}

.what-to-make-form select {
    display: flex;
}

.what-to-make-form Button {
    align-self: center;
    margin-top: 20px;
}