.week-menu-form {
    display: flex;
    border: 5px solid hsl(173, 51%, 63%);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}

.week-menu-form select {
    margin-left: 10px;
}